/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */
h1,
h4 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  display:block;
  font-weight: bold;
}

h3 {
    text-align: center;
}

h4 {
  text-align:center;

}
h2 {

  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align:center;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
  
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

hr {
  border: 1px solid black;
}


#pete-background {
  text-align: left;
}


/* Add your solution below */

.image-circle {
   border-radius: 50%;
   border: 2px solid #003049;
  
}

a {
  color: #d62828;
  transition: color 0.3s; /* Add a smooth color transition */
}

a:hover {
  color: #f77f00;
}

nav {
  text-align: center;
}

P {
  text-align: center;
}

ul {
  list-style-position: inside;
  
}

}
